**What is Data Science and what is pandas?**
Data Science or data analytics is a process of analyzing large set of data points to get answers on quaestions related to that data set.
Pandas is a python module that makes data science easy and effective!

In [ ]:
import pandas as pd

Process of cleaning messy data is called data munging or data wrangling

**Dataframe** is main object in Pandas.It is used to represent data with rows and collumns (tabular or excel spreadsheet like data)

How to get data from googledrive with googlecollab

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd
df = pd.read_excel('/content/gdrive/My Drive/Data Science/Practice/weather_data.xlsx')

In [ ]:
df

In [ ]:
# Print shape, rows and collumns
rows, columns = df.shape
print(df.shape)
print(rows)
print(columns)

In [ ]:
# Print specific number of rows from start
print(df.head(2))

# Print specific number of rows from last
print(df.tail(2))

# Print specific number of rows
print(df[2:5])

In [ ]:
# Print specific collumn by name

print(df.day)
print("")
# or
print(df["day"])
print("")

# Print specific collumns by name
print(df[["day", "temperature"]])

In [ ]:
# Print types

print(type(df["day"]))

**Operations with dataframes**

In [ ]:
# Print maximum, minimum, average, standard deviation of temperature

print(df["temperature"].max())
print("")
print(df["temperature"].min())
print("")
print(df["temperature"].mean())
print("")
print(df["temperature"].std())
print("")

In [ ]:
# Print statistics in collumns with "numbers"

print(df.describe())

In [ ]:
# Conditionally select rows where temp >= 32

print(df[df.temperature>=32])
print("")

# Give rows where temperature is maximum
# Give from these rows only day and temperature collumn where temperature is maximum

print(df[df.temperature ==  df["temperature"].max()])
print("")
print(df[["day", "temperature"]][df.temperature ==  df["temperature"].max()])
print("")

**Indexing of dataframe**

In [ ]:
print(df)
print("")
print(df.index)
print("")

# Change index and save it to the original
df.set_index("day", inplace=True)
print(df)

In [ ]:
# Reset index to default
df.reset_index(inplace=True)
print(df)

**Different Ways Of Creating Dataframe**


1.   Using CSV
2.   Using Excel
3.   From Python Dictionary
4.   From List Of Tuples
5.   From List of Dictionaries

In [ ]:
import pandas as pd

#1
df1 = pd.read_csv('/content/gdrive/My Drive/Data Science/Practice/weather_data2.csv')
print(df1)
print("")
#2
df2 = pd.read_excel('/content/gdrive/My Drive/Data Science/Practice/weather_data.xlsx')
print(df1)
print("")

#3
weather_data = {
'day': ['1/1/2017', '1/2/2017', '1/3/2017'],
'temperature': [32, 35, 28],
'windspeed': [6,7,2],
'event': ['Rain', 'Sunny', 'Snow']
}

df3 = pd.DataFrame(weather_data)
print(df3)
print("")

#4
weather_data = [
('1/1/2017', 32, 6, 'Rain'),
('1/2/2017', 35, 7, 'Sunny'),
('1/3/2017', 28, 2, 'Snow')
]

df4 = pd.DataFrame(weather_data, columns=["day", "temperature", "windspeed", "event"])
print(df4)
print("")

#5
weather_data = [
{'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
{'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
{'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}
]
df5 = pd.DataFrame(weather_data)
print(df5)
print("")

**Reading writing csv, excel files**

1.   Read csv
2.   Write csv
3.   Read excel
4.   Write excel

**CSV**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

import pandas as pd
df = pd.read_csv('/content/gdrive/My Drive/Data Science/Practice/stock_data.csv')
print(df)

In [ ]:
# skip rows in dataframe using skiprows
df = pd.read_csv('/content/gdrive/My Drive/Data Science/Practice/stock_data.csv', skiprows=1)
print(df)

In [ ]:
# read limited data from dataframe with nrows    ex. only 3 first rows excluding header
df = pd.read_csv('/content/gdrive/My Drive/Data Science/Practice/stock_data.csv', nrows=3)
print(df)

In [ ]:
# cleanup messy data (n.a. values in all collumns and -1 in revenue collumn)
df = pd.read_csv('/content/gdrive/My Drive/Data Science/Practice/stock_data.csv', na_values={
    "eps" : ["not available", "n.a."],
    "revenue" : ["not available", "n.a.", -1],
    "price" : ["not available", "n.a."],
    "people" : ["not available", "n.a."]
})
print(df)
print("")

In [ ]:
# write back to csv

df.to_csv('/content/gdrive/My Drive/Data Science/Practice/new_stock_data.csv')

**EXCEL**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd

# convert arguments (in this example in collumn people, n.a. with sam walton)

def convert_people_cell(cell):
  if cell == "n.a.":
    return "sam walton"
  else:
    return cell

df = pd.read_excel('/content/gdrive/My Drive/Data Science/Practice/stock_data.xlsx', converters = {
    "people": convert_people_cell
})
print(df)
print("")

# write to excel and put sheet name

df.to_excel('/content/gdrive/My Drive/Data Science/Practice/new_stock_data.xlsx', sheet_name="stocks")

In [ ]:
# write 2 dataframes in 1 excel file  (in different sheets)

df_stocks = pd.DataFrame({
    'tickers': ['GOOGL', 'WMT', 'MSFT'],
    'price': [845, 65, 64 ],
    'pe': [30.37, 14.26, 30.97],
    'eps': [27.82, 4.61, 2.12]
})

df_weather =  pd.DataFrame({
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'event': ['Rain', 'Sunny', 'Snow']
})

with pd.ExcelWriter('/content/gdrive/My Drive/Data Science/Practice/stocks_weather.xlsx') as writer:
    df_stocks.to_excel(writer, sheet_name="stocks")
    df_weather.to_excel(writer, sheet_name="weather")

**Handle Missing Data: fillna, dropna, interpolate**
1. fillna to fill missing values using differente ways
2. interpolate to make a guess on missing values using interpolation
3. dropna to drop rows with missing values

In [ ]:
import pandas as pd

# import and convert dates
df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather_data_f.csv", parse_dates=["day"])
# set index on collumn day
df.set_index("day",inplace=True)
print(df)

In [ ]:
# replace all NaN values

new_df = df.fillna(0)
print(new_df)
print("")

In [ ]:
# replace NaN values but specifically in collumns

new_df2 = df.fillna({
    "temperature": 0,
    "windspeed": 0,
    "event": "no event"
})
print(new_df2)

In [ ]:
# replace NaN values with forward fill method (check previous value to fill the NaN)

new_df3 = df.fillna(method="ffill")
print(new_df3)

In [ ]:
# replace NaN values with backward fill method (check next value to fill the NaN)

new_df4 = df.fillna(method="bfill")
print(new_df4)

In [ ]:
# replace NaN values with backward fill method (check next value to fill the NaN)
# and now horizontally

new_df5 = df.fillna(method="bfill", axis="columns")
print(new_df5)

In [ ]:
# replace NaN values with forward fill method (check previous value to fill the NaN)
# and also put limit for only 1 of next value

new_df6 = df.fillna(method="bfill", limit = 1)
print(new_df6)

In [ ]:
# guess values with interpolate()       {default method = Linear interpolation}

new_df7 = df.interpolate()
print(new_df7)

In [ ]:
# use interpolate with interpolate() change method to time

new_df8 = df.interpolate(method="time")
print(new_df8)

In [ ]:
# use dropna() to drop every row with at least one NaN

new_df9 = df.dropna()
print(new_df9)

In [ ]:
# use dropna() to drop every row if all values are NaN

new_df10 = df.dropna(how="all")
print(new_df10)

In [ ]:
# use dropna() to key every row if there is at least one valid value

new_df11 = df.dropna(thresh=1)
print(new_df11)

In [ ]:
# Inserting missing dates

dt = pd.date_range("01-01-2017","01-11-2017")
idx = pd.DatetimeIndex(dt)
df = df.reindex(idx)

print(df)

 **Handle Missing Data with replace function**

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather_data_b.csv")
print(df)

# replace function all values in every collumn equal to -99999
new_df1 = df.replace(-99999,np.NaN)
print(new_df1)

In [ ]:
# replace function to specific values in each collum
new_df2 = df.replace({
    "temperature": -99999,
    "windspeed": -99999,
    "event": "0"
},np.NaN)
print(new_df2)

In [ ]:
# replace function with mapping
new_df3 = df.replace({
    -99999: np.NaN,
    "0": "Sunny"
})
print(new_df3)

In [ ]:
# regex           {Regular Expression}
# replaces if it finds space between characters & characters
# but we dont want to touch event collumn

new_df4 = df.replace({
    "temperature": "[A-Za-z]",
    "windspeed" : "[A-Za-z]"
},"",regex=True)
print(new_df4)

In [ ]:
# replace strings in collumn with numbers
# for example in score collumn
new_df5 = pd.DataFrame({
    'score': ['exceptional','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica']
})
print(new_df5)
print("")
new_df6 = new_df5.replace(["poor", "average", "good", "exceptional"], [1,2,3,4])
print(new_df6)

**Group By (Split Apply Combine)**

In [ ]:
import pandas as pd
df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather_by_cities.csv")
print(df)

In [ ]:
# Group by all cities with dataframes     city, city_df

g = df.groupby("city")
for city, city_df in g:
  print(city)
  print(city_df)

In [ ]:
# Get specific city from group

print(g.get_group("mumbai"))

In [ ]:
# Find max - min  in every collumns per city

print(g.max())
print("")
print(g.min())

In [ ]:
# Find average in every collumns per city

print(g.mean())

In [ ]:
# Get all statistics in every collumns per city

print(g.describe())

In [ ]:
# Get charts

%matplotlib inline
g.plot()

**Concat Dataframes**

In [ ]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})

print(india_weather)
print("")

usa_weather = pd.DataFrame({
    "city": ["new tork","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})

print(usa_weather)
print("")

In [ ]:
# Concat two dataframes with concat()

df = pd.concat([india_weather, usa_weather])
print(df)

In [ ]:
# Concat two dataframes with concat() and fix index

df = pd.concat([india_weather, usa_weather], ignore_index=True)
print(df)

In [ ]:
# Concat two dataframes with concat() and give keys of country

df = pd.concat([india_weather, usa_weather], keys=["india", "usa"])
print(df)

In [ ]:
# retrieve subset of dataframe  ex. india_weather

print(df.loc["usa"])

In [ ]:
# use case of 2 dataframes with different collumns

temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30]
})
windspeed_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "windspeed": [7,12,9]
})
print(temperature_df)
print("")
print(windspeed_df)
print("")

# concat these 2 dataframes with concat() with axis

df = pd.concat([temperature_df, windspeed_df], axis=1)
print(df)

In [ ]:
# concat these 2 dataframes (different order in names, and less cities) with index

temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30]
}, index=[0,1,2]) # we give index values
windspeed_df = pd.DataFrame({
    "city": ["delhi", "mumbai" ],
    "windspeed": [7,12]
}, index=[1,0]) # we give same index values with temperature cities index numbers
print(temperature_df)
print("")
print(windspeed_df)
print("")

df = pd.concat([temperature_df, windspeed_df], axis=1)
print(df)

In [ ]:
# concat these 2 dataframes

temperature_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30]
})

s = pd.Series(["Rain", "Dry", "Rain"], name="event")

print(temperature_df)
print("")
print(s)
print("")

df = pd.concat([temperature_df, s], axis =1)
print(df)

**Merge Dataframes**

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","orlando"],
    "humidity": [65,68,75],
})
print(df1)
print("")
print(df2)
print("")

# merge these two dataframes based on cities

df = pd.merge(df1, df2, on="city")
print(df)

In [ ]:
# use case of two dataframes with different number of cities and different names of cities
df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,32],
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","san fransisco"],
    "humidity": [65,68,71],
})
print(df1)
print("")
print(df2)
print("")

# merge these two dataframes based on cities with parameter how (inner, outer, left or right)
# and parameter indicator to check from where data came

df3 = pd.merge(df1, df2, on="city", how = "outer", indicator=True)
print(df3)

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    "city": ["new york","chicago","orlando", "baltimore"],
    "temperature": [21,14,35,38],
    "humidity": [65,68,71, 75]
})
df2 = pd.DataFrame({
    "city": ["chicago","new york","san diego"],
    "temperature": [21,14,35],
    "humidity": [65,68,71]
})
print(df1)
print("")
print(df2)
print("")

# merge these two dataframes with suffixes parameter to see where the
# data comes from

df3 = pd.merge(df1, df2, on = "city", suffixes = ("left", "right"))
print(df3)

**Pivot and pivot_table**

Pivot allows you to transform or reshape data

In [ ]:
import pandas as pd

df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather.csv")
print(df)
print("")

# use pivot() with index of row -> dates and columns -> city
# and provide only humidity

df1 = df.pivot(index="date", columns="city", values="humidity")
print(df1)

Pivot table is used to summarize and aggregate data inside dataframe

In [ ]:
# pivot table

df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather2.csv")
print(df)
print("")

# use pivot table to take average temperature in same date
# where rows are cities and collumn are dates
# take average of same days values

df2 = df.pivot_table(index="city", columns="date")
print(df2)

# use pivot table to take average temperature in same date
# where rows are cities and collumn are dates
# and use aggregate for sum ( by default is mean() )

df2_new = df.pivot_table(index="city", columns="date", aggfunc="sum")
print(df2_new)

In [ ]:
# grouper

df = pd.read_csv("/content/gdrive/My Drive/Data Science/Practice/weather3.csv")
print(df)
print("")

# pivot to see month average temperatures with grouper()
# first we need to convert string dates to number dates
# freq "W" for weekly, "M" for monthly and "Y" for yearly average values

df["date"] = pd.to_datetime(df["date"])

df3 = df.pivot_table(index=pd.Grouper(freq="M", key="date"), columns="city")
print(df3)